//
   Created by wangzhaoyi on 16/7/8.
extends ../layout

block content
    table(class="table table-hover" style="margin-top:30px;")
        each item in list
            tr
                td
                    a(href="./student/#{item['student_id']}",class="link",style="color:#222;font-size:16px")
                        span(class="glyphicon glyphicon-folder-close")
                        span(style="margin-left:10px;") #{item["student_name"]}