extends layout
block content

   ul(class="list-group")
      each item in assignments
            li(class="list-group-item list-group-item-custom" style="cursor: pointer" onclick="location.href='/course/#{course['course_id']}/assignment/#{item.assignment_id}';")
               //span(class="label label-default label-pill pull-xs-right")
               #{item.assignment_introduction}


   script(type='text/javascript').


