//
   Created by zhangxinru on 16/7/5.

extends layout

block content
   div(class="col-sm-12 col-md-8" style="margin:auto")
      div(class="thumbnail")
         div(style="background: url(#{course['img_src']}) no-repeat center center;background-size:cover;;height:200px")
         div(class="caption" style="padding-left:30px")
            h3 #{course['course_name']}
            p 总课时: #{course['lesson_total']}
            p 介绍: #{course['introduction']}

   script(type='text/javascript').


