//
   Created by zhangxinru on 16/7/5.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/iconfont/css/font-awesome.min.css')
        script(src="/js/jquery.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
    body
        nav(class="navbar navbar-default" style="margin-bottom:0px; padding:0 15px;padding-left:50px")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(href="/" class='navbar-brand' style="font-size:16px") Course++
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right" style="margin:12px;")
                        a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav_menu")
                            span(style="text-decoration:none") #{session['user'].length==0?'请登录':session.user.student_id}
                            span(class="caret")
                        ul(class="dropdown-menu" style="margin-right:12px;")
                            li
                                a(href="/user/login") 退出登录
        block side
        //block content
        div.footer.col-lg-12(style="background-color:#fff;margin-top:50px;height:50px; border-top:1px solid #ccc;")
            .container
                .footer-top(style="padding:1em;")
                    .footer-class
                        p(style="color:#777;font-size:14px") Copyright &copy; 2016.Company name All rights reserved.
                    .footer-class-right
                        .col-lg-2
                            span.glyphicon.glyphicon-phone
                        .col-lg-2
                            i.icon-envelope(stype="margin-left:10px;")
                        .col-lg-2
                            i.icon-twitter(stype="margin-left:10px;")
script(type='text/javascript').
    var FindCourseId = function () {
        var href_array = window.location.href.split("/");
        for (var idx = 0; idx < href_array.length; idx++) {
            console.log(idx);
            if (href_array[idx] == "course") {
                return href_array[idx + 1];
            }
        }
        return 1;
    };
    var course_id = FindCourseId();
    $('#side-class').attr({href: "/course/" + course_id});
    $('#side-resource').attr({href: "/course/" + course_id + "/resource"});
    $('#side-assignment').attr({href: "/course/" + course_id + "/assignment"});
    $('#side-team').attr({href: "/course/" + course_id + "/team"});
    $('#side-chat').attr({href: "/course/" + course_id + "/chat"});