//
   Created by zhangxinru on 16/7/5.

extends layout
block content
   div(class="row")
      div(class="col-sm-4")
         div(class="panel panel-default")
            div(class="panel-heading")
               h3(class="panel-title")
               设计模式
            div(class="panel-body")
               "intro"
