//
   Created by zhangxinru on 16/7/5.

doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/index.css')
      link(rel='stylesheet', href='/iconfont/css/font-awesome.min.css')
      script(src="/js/jquery.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")
   body
      nav(class="navbar navbar-default" style="margin-bottom:0px; padding:0 15px;padding-left:50px")
         div(class="container-fluid")
            div(class="navbar-header")
               a(class='navbar-brand' style="font-size:16px") Course++
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
               ul(class="nav navbar-nav navbar-right" style="margin:12px;")
                  a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav_menu")
                     span(style="text-decoration:none") Dropdown
                     span(class="caret")
                  ul(class="dropdown-menu" style="margin-right:12px;")
                     li
                        a(href="#") 用户
                        a(href="/users/login") 登录


   div(class="container" style="margin-left:0px;padding-left:0px")
         div(class="col-xs-3" style="padding-left:0px")
            ul(class="list-group" style="text-align:center" id="side-bar")
               a(href="#" class="list-group-item side_item")
                  span(class="glyphicon glyphicon-book side_icon")
                  span 课程
               a(href="#" class="list-group-item side_item")
                  span(class="glyphicon glyphicon-folder-open side_icon" )
                  span 资源
               a(href="#" class="list-group-item side_item")
                  span(class="glyphicon glyphicon-pencil side_icon")
                  span 作业
               a(href="#" class="list-group-item side_item")
                  i(class="icon-group side_icon")
                  span 团队
         div(class="col-xs-9")
            block content