extends home

block side
    div(class="container" style="margin-left:0px;padding-left:0px;min-height:580px;")
        div(class="col-xs-3" style="padding-left:0px")
            ul(class="list-group" style="text-align:center" id="side-bar")
                a(id="side-class" href="#" class="list-group-item side_item")
                    span(class="glyphicon glyphicon-book side_icon")
                    span 课程
                a(id="side-resource" href="#" class="list-group-item side_item")
                    span(class="glyphicon glyphicon-folder-open side_icon" )
                    span 资源
                a(id="side-assignment" href="#" class="list-group-item side_item")
                    span(class="glyphicon glyphicon-pencil side_icon")
                    span 作业
                a(id="side-team" href="#" class="list-group-item side_item")
                    i(class="icon-group side_icon")
                    span 团队
                a(id="side-chat" href="#" class="list-group-item side_item")
                    i(class="icon-group side_icon")
                    span 聊天
        div(class="col-xs-9" style="margin-top:50px")
            block content