html,body { height: 100%;}
#full { height: 100% }

.link:hover{
    text-decoration: none;
}
td{
    padding:0 8px;
}
.link:focus{
    text-decoration: none;
}

#nav_menu:hover,#nav_menu:focus{
    color:#777;
    text-decoration: none;
}
#nav_menu{
    color:#777;
}
.side_item{
    padding: 20px 15px;
}
#side-bar{
    font-size: 16px;
}
.side_icon{
    margin-right: 10px;
}

.list-group-item:first-child{
    border-radius: 0;
}
.list-group-item:last-child{
    border-radius: 0;
}

#container::after{
    background-color: #ddd;
}

.enter-btn{
    text-align: center;
}

.list-group-item.list-group-item-custom:hover{
    background-color: #f5f5f5;
}
.pull-xs-right{
    float:right!important
}
.label-pill{
    padding-right:.6em;
    padding-left:.6em;
    border-radius:10rem;
    padding-top: 2px;
}

.cus-btn{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #1569c1;
    margin-right: 20px;
}
.cus-btn:hover{
    background-color: #1581db;
    cursor: pointer;
}

.cus-btn-agree{
    background-color: #2db22d;
}
.cus-btn-disagree{
    background-color: #cd171d;
}
.cus-btn-agree:hover{
    background-color: #70da68;
}
.cus-btn-disagree:hover{
    background-color: #f6433d;
}
.cus-add{
    color: #2db22d;
    float:right!important;
    line-height: 1.42857143!important;
}
.cus-add:hover{
    cursor: pointer;
}
.modal-dialog{
    top:150px;
    width: 350px;
}
.label-wrapper{
    padding-top: 1px;
}
.d-l{
    display: inline-block;
}
.f-r{
    float: right;
}
.label-line-center{
    margin-top:2px
}
.m-l-1{
    margin-left: 10px;
}
