//
   Created by zhangxinru on 16/7/5.

extends ../layout

block content
    h3 所有作业
    table(class="table table-hover" style="margin-top:30px;")
        each item,index in list
            tr
                td
                    a(href="./assignment/#{item['assignment_id']}",class="link",style="color:#222;font-size:16px")
                        span(class="glyphicon glyphicon-folder-close")
                        span(style="margin-left:10px;")  第 #{index+1} 次作业
