.link:hover{
    text-decoration: none;
}
td{
    padding:0 8px;
}
.link:focus{
    text-decoration: none;
}
#nav_menu:hover,#nav_menu:focus{
    color:#777;
    text-decoration: none;
}
#nav_menu{
    color:#777;
}
.side_item{
    padding: 20px 15px;
}
#side-bar{
    font-size: 16px;
}
.side_icon{
    margin-right: 10px;
}

.list-group-item:first-child{
    border-radius: 0;
}
.list-group-item:last-child{
    border-radius: 0;
}

.checkbox{
    margin:0;
}

.form-line{
    margin-bottom:5px;
    margin-right:10px;
}

.assignment-title{
    font-weight: bold;
}