//
   Created by zhangxinru on 16/7/5.

extends home

block side
    div(class="row")
        div(class="col-lg-12")
            div(class="thumnail")
                each item in list
                    div(class="col-lg-2" style="margin-left:200px;margin-top:100px")
                        img(src="/img/course1.jpg" style='width:200px;height:242px')
                        div(class="caption")
                            h3 Thumbnail label
                            p
                            p zfa momoda
                            a(href="#{item['course_id']}" class="btn btn-primary" role="button") #{item['course_name']}


