//
   Created by xuhanzhi on 16-7-6.

extends layout

block content
    span hhhhh
    //head
    //    title 布置作业
    //body
    //    form
    //        span type
    //        select(name="type")
    //            option(value="SINGLE")SINGLE
    //            option(value="TEAM")TEAM
    //                input(type="submit" value="Submit" /)
    //        span course_id
    //        input(type="int" name="course_id" /)
    //        input(type="submit" value="Submit" /)
    //        span lesson_id
    //        input(type="int" name="lesson_id" /)
    //        input(type="submit" value="Submit" /)
    //        span deadline
    //        input(type="datetime" name="deadline" /)
    //        input(type="submit" value="Submit" /)
    //        span file_path
    //        input(type="varchar" name="file_path" /)
    //        input(type="submit" value="Submit" /)
