//
   Created by zhangxinru on 16/7/5.

doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/index.css')
      link(rel='stylesheet', href='/iconfont/css/font-awesome.min.css')
      //link(rel='stylesheet', href='/flat/dist/css/flat-ui.css')
      script(src="/js/jquery.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")
   body
      nav(class="navbar navbar-default" style="margin-bottom:0px; padding:0 15px;padding-left:50px")
         div(class="container-fluid")
            div(class="navbar-header")
               a(href="/" class='navbar-brand' style="font-size:16px") Course++
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
               ul(class="nav navbar-nav navbar-right" style="margin:12px;")
                  a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav_menu")
                     span(style="text-decoration:none") 张馨如
                     span(class="caret")
                  ul(class="dropdown-menu" style="margin-right:12px;")
                     li
                        a(href="#") 个人资料
      block side
      block index.js