//
   Created by zhangxinru on 16/7/5.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/iconfont/css/font-awesome.min.css')
        link(rel="stylesheet", href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
        //link(rel='stylesheet', href='/flat/dist/css/flat-ui.css')
        script(src="/js/jquery.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")
        script(src="/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js")
    body
        nav(class="navbar navbar-default" style="margin-bottom:0px; padding:0 15px;padding-left:50px")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(href="/" class='navbar-brand' style="font-size:16px") Course++
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right" style="margin:12px;")
                        a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav_menu")
                            span(style="text-decoration:none") #{!session.hasOwnProperty('user') || session.user.length == 0 ? '请登录' : session["user"]['teacher_name']}
                            span(class="caret")
                        ul(class="dropdown-menu" style="margin-right:12px;")
                            li
                                a(href="#") 用户
                                a(href="#" onclick="operate('#{!session.hasOwnProperty('user') || session.user.length == 0 ? 'login' : 'logout'}')") #{!session.hasOwnProperty('user') || session.user.length == 0 ? '登录' : '退出登录'}
        script(type="text/javascript").
            function operate(type) {
                if (type == 'login') {
                    window.location = '/user/login';
                } else {
                    $.ajax({
                        type: "GET",
                        url: '/user/login/logout',
                        success: function (msg) {
                            window.location.reload();
                        }
                    });
                }
            }
        block side
        block index
        div.footer.col-lg-12(style="background-color:#fff;margin-top:50px;height:50px; border-top:1px solid #ccc;")
            .container
                .footer-top(style="padding:1em;")
                    .footer-class
                        p(style="color:#777;font-size:12px") Copyright &copy; 2016.Company name All rights reserved.
                    .footer-class-right
                        .col-lg-2
                            span.glyphicon.glyphicon-phone
                        .col-lg-2
                            i.icon-envelope(stype="margin-left:10px;")
                        .col-lg-2
                            i.icon-twitter(stype="margin-left:10px;")
