//
   Created by zhangxinru on 16/7/5.
extends layout

block content
   h1= title
   p 欢迎大家来到#{title}
   p Scrum是一种敏捷软件开发的方法學，用於迭代式增量软件开发过程。Scrum在英语是橄榄球运动中争球的意思。
   p 虽然Scrum是为管理软件开发项目而开发的，它同样可以用于运行软件维护团队，或者作为计划管理方法。Scrum之间的合作称为“Scrum of Scrums”。