//
   Created by peter on 7/6/16.
    
extends home

block index
    div(style="background-image:url('/img/leaf.jpg');height:560px;background-size:contain")
        div.col-lg-12(style="margin-top:300px")
            div.col-lg-offset-2.col-lg-10
                p(style="font-size:30px;color:#fff") Course++
                p(style="font-size:17px;color:#fff") 管理你的课程
    div(class="col-lg-offset-1 col-lg-10" style="margin-top:50px;")
        h2
            span 所有课程
        hr
        each item in list
            div.col-md-4
                div.image-matter
                    a(href="/course/#{item['course_id']}")
                        img.img-responsive(src="#{item['img_src']}")
                    div.image-bro
                        h4 #{item['course_name']}
                        p #{item['introduction']}
