//
   Created by zhangxinru on 16/7/5.
extends home

block index
    div(id="full" class="container" style="margin:0px;padding:0px;width:100%;background-color:#ddd")
        div(class="card card-container" style="width: 350px;padding: 40px 40px;margin: 100px auto;border-radius: 2px;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);background-color:#fff")
            img(id="profile-img" class="profile-img-card" src="/image/avatar_2x.png" style="width: 96px;height: 96px;margin: auto;display:block;border-radius: 50%;margin-bottom:15px")
            form(class="form-signin" action="" method="post" id="login")
                span(id="reauth-email" class="reauth-email")
                input(type="" name="teacher_id" id="inputEmail" class="form-control" placeholder="User Name" style="margin-bottom: 10px;" required autofocus)
                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" style="margin-bottom: 10px;" required)
                a(class="btn btn-lg btn-primary btn-block btn-signin" onclick="login()") 登录

            script(type="text/javascript").
                function login() {
                    $.ajax({
                        type: "POST",
                        url: "/user/login",
                        data: $("#login").serialize(),
                        success: function (data) {
                            if (data['status'] == 1) {
                                window.location = "/";
                            } else {
                                alert(data['message']);
                                window.location.reload();
                            }
                        }
                    });
                }