//
   Created by zhangxinru on 16/7/5.
extends layout

block content
   table(class="table table-striped")
      thead
         td 下载列表
         tr
            td
               each item in list
                  li
                     a(href="#{item['url']}") team #{item['name']}

