//Created by wangzhaoyi on 16/7/8.
    
extends layout
block content
    div(class="col-sm-12 col-md-8" style="margin:auto")
        div(class="thumbnail")
            h3 导入课程信息
            form(action="/course", method="post",enctype="multipart/form-data")
                div(class="form-group")
                    p 导入一个csv文件
                    input(type="file" name="upload" multiple="multiple")
                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 导入
        div(class="thumbnail")
            h3 导入教师信息
            form(action="/teacher", method="post",enctype="multipart/form-data")
                div(class="form-group")
                    p 导入一个csv文件
                    input(type="file" name="upload" multiple="multiple")
                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 导入
        div(class="thumbnail")
            h3 导入学生信息
            form(action="/student", method="post",enctype="multipart/form-data")
                div(class="form-group")
                    p 导入一个csv文件
                    input(type="file" name="upload" multiple="multiple")
                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 导入
    div(class="col-sm-12 col-md-8" style="margin:auto")
        div(class="thumbnail")
            h3 设置学期开始结束日期 总周次
            div(class="form-group")
                form(action="/course", method="post",enctype="multipart/form-data")
                    p 设置学期开始日期
                    label 开始日期
                    input( class="form-control",type="date",name = "start_date",size = "10" maxlength="20" style="margin-left:5px")

                    p 设置学期结束日期
                    label 结束日期
                    input( class="form-control",type="date",name = "end_date",size = "10" maxlength="20" style="margin-left:5px")

                    p 设置学期总周次
                    label 总周次
                    input( class="form-control",type="text",name = "total_week",size = "10" maxlength="20" style="margin-left:5px")

                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 确认