//Created by peter on 7/6/16.
    
extends layout
block content
    p "fuck"
    script(type='text/javascript').
        $('#side-resource').css({display: "none"});
        $('#side-assignment').css({display: "none"});
        $('#side-team').css({display: "none"});
