//Created by wangzhaoyi on 16/7/8.
    
extends layout
block content
    p This is the main page of Admin
    script(type='text/javascript').
        $('#side-resource').css({display: "none"});
        $('#side-assignment').css({display: "none"});
        $('#side-team').css({display: "none"});
