//Created by wangzhaoyi on 16/7/8.
    
extends layout
block content
    div(class="col-sm-12 col-md-8" style="margin:auto")
        div(class="thumbnail")
            h3 导入课程信息
            form(action="/course", method="post",enctype="multipart/form-data")
                div(class="form-group")
                    p 导入一个csv文件
                    input(type="file" name="upload" multiple="multiple")
                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 导入
        div(class="thumbnail")
            h3 导入教师信息
            form(action="/teacher", method="post",enctype="multipart/form-data")
                div(class="form-group")
                    p 导入一个csv文件
                    input(type="file" name="upload" multiple="multiple")
                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 导入
        div(class="thumbnail")
            h3 导入学生信息
            form(action="/student", method="post",enctype="multipart/form-data")
                div(class="form-group")
                    p 导入一个csv文件
                    input(type="file" name="upload" multiple="multiple")
                button(type="submit" value="Upload" class="btn btn-default")
                    span(class="glyphicon glyphicon-upload")
                    span 导入
