//
   Created by 13211008 on 16-7-9.
extend layout

block content
    div(class="col-sm-12 col-md-8" style="margin:auto")
        div(class="thumbnail")
            h3 设置学期
            div(class="form-group")
                form(action="/term", method="post")
                    fieldset
                        lable 学期名称
                        input(class="form-control", type ="text", name = "term_id",size = "10", maxlength= "20", style = "margin-left:5px")

                        label 开始日期
                        input( class="form-control",type="date",name = "start_date",size = "10" maxlength="20" style="margin-left:5px")

                        label 结束日期
                        input( class="form-control",type="date",name = "end_date",size = "10" maxlength="20" style="margin-left:5px")

                        button(type="submit" value="Upload" class="btn btn-default")
                            span(class="glyphicon glyphicon-upload")
                            span 确认